/* Colors */
$whiteColorHover: #ffffffcc;
$whiteColorCarouselNotActiveButton: #ffffff80;
$buttonColor1: #40c4ff;
$buttonColor1Hover: #1cb7ff;
$subjectsBackground: #f2f8fc;

/* Sizes */
$navbarHeight: 100px;

$h1SizesLarge: 4rem;
$h1SizesMedium: 3.5rem;
$h1SizesSmall: 2.5rem;

$h2SizesLarge: 3.5rem;
$h2SizesMedium: 2.8rem;
$h2SizesSmall: 2rem;

$pSizesLarge: 2rem;
$pSizesMedium: 1.5rem;
$pSizesSmall: 1.2rem;

$resultsSizeLarge: 3rem;
$resultsSizeMedium: 2rem;
$resultsSizeSmall: 1.5rem;