/* Colors */
$whiteColorHover: #ffffffcc;
$whiteColorCarouselNotActiveButton: #ffffff80;
$buttonColor1: #40c4ff;
$buttonColor1Hover: #1cb7ff;
$subjectsBackground: #f2f8fc;

/* Sizes */
$navbarHeight: 100px;